spring:
  application:
    name: StudyRooms  # <--- ΤΟ ΔΙΟΡΘΩΣΑΜΕ

  datasource:
    # Η βάση αποθηκεύεται σε αρχείο στο φάκελο LOCAL_DATA
    datasource:
      url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DATABASE_TO_LOWER=TRUE
    username: sa
    password: changeme
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      # create-drop: Σβήνει τα πάντα στο Stop.
      # update: Κρατάει τα δεδομένα. Διάλεξε τι προτιμάς.
      ddl-auto: update
    open-in-view: false
    properties:
      # Αφήνουμε το H2 Dialect για να μην έχουμε conflicts
      hibernate.dialect: org.hibernate.dialect.H2Dialect
      hibernate.format_sql: true

server:
  error:
    whitelabel:
      enabled: false  # Σωστό, γιατί φτιάξαμε το error.html
    include-message: always
    include-binding-errors: always
    include-exception: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

# Ρυθμίσεις για το JWT (Security)
app:
  jwt:
    issuer: "studyrooms-api"  # <--- ΤΟ ΔΙΟΡΘΩΣΑΜΕ
    audience: "studyrooms-users"
    # ΠΡΟΣΟΧΗ: Αυτό το κλειδί πρέπει να είναι ίδιο σε κάθε restart αν θες να ισχύουν τα tokens
    secret: "${JWT_SECRET:Uh0WvRj5qs2sChP0dwTkky/VoudWSk0FVikEDDUKdRU=}"
    ttl-minutes: 60
